<%# pour l'utiliser dans toutes les pages ensuite on met le squelette de la page html %>
<!DOCTYPE html>
<html lang="fr">
<%# Notre header avec le CSS déjà dans le dossier public %>

    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <h1> Trombin O'clock </h1>
            <nav>
                <ul>
                    <li> <a href="/"> Accueil </a></li>
                    <li> <a href="/promos"> Liste des promotions </a></li>

                </ul>
            </nav>
        </header>